.sideNavMainWrapperStyles {
  display: flex;
}

.sideNavDrawerStyles .MuiPaper-root {
  border-right: 1px solid #33333d;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #1d1d23;

  & .MuiList-root {
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.2rem 0;
  }

  & .sideNavOptDivider {
    border-color: rgb(51, 51, 61);
  }
}

.burgerBtnClose,
.burgerBtn {
  align-self: flex-end;
  color: var(--color-primary);
  &:hover {
    color: var(--color-secondary);
  }
}

.burgerBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.closeSideNavStyles {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.sideNavOptMainStyles {
  display: block;

 & .sideNavOptStyles {
    min-height: 48px;
    padding: 0 16px;
  } 
}

.sideNavOptStyles:active {
  border-radius: 6px;
  background-color: #33333d;
}

.sideNavOptStyles div {
  color: var(--color-primary);
}

.sideNavOptStyles:hover div {
  color: var(--color-secondary);
}

.sideNavOptionBtn {
  color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 1.5rem;
  &:hover {
    color: var(--color-secondary);
  }
}
