/* navBar */

.navBar {
  padding: 1rem 0;
  line-height: 2;
  letter-spacing: 1px;
}

.navBar .list {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.9rem;
}

.pos > a:hover {
  color: var(--color-primary);
}

.navBar_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  cursor: pointer;
}

.navBar_img > img {
  height: 85px;
  width: 85px;
}

@media screen and (min-width: 768px) {
  .navBar {
    flex-direction: row;
  }

  .navBar .list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .pos:nth-of-type(2) {
    order: -1;
  }

  .pos:nth-of-type(3) {
    order: -1;
  }

  .pos:nth-of-type(4) {
    order: -1;
  }

  .pos:nth-of-type(5) {
    order: -1;
  }
}

@media screen and (min-width: 1024px) {
  .navBar .list {
    font-size: 2.4rem;
  }
}
