.loginMainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.loginFiledContainer {
  border: 3px solid var(--color-primary);
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65dvh;
  width: 45rem;
}

h2{
    color: var(--color-primary);
    margin: 2rem;
}

.inputFields {
  width: 100%;
}

.inputFields .MuiInputBase-root {
  color: var(--color-primary);
  font-size: 2rem;
  font-family: 'Saira Condensed', sans-serif;

  & fieldset {
    border: 1px solid var(--color-primary);
  }

  &:hover fieldset {
    border: 1px solid var(--color-primary);
  }
}

.loginFieldBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  gap: 2rem;
  justify-content: center;
}

.loginFiledContainer .inputFieldsBtn {
  background-color: var(--color-primary);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  font-size: 2rem;
  font-family: 'Saira Condensed', sans-serif;
  outline: 0;
  padding: 2rem;
  white-space: nowrap;

  &:hover {
    background-color: #d38200;
  }
}

.passwordField {
  border: 1px solid var(--color-primary);
  display: flex;
  align-items: center;
  border-radius: 6px;

  
  &:hover {
    border: 1px solid var(--color-primary);
  }

}

.passwordField .MuiInputBase-root {
  & fieldset {
    border: none;
  }

  &:hover fieldset {
    border: none;
  }
}

.passwordInputField{
    width: 95%;
}

.showHideIcon{
    width: 12%;
    user-select: none;
    cursor: pointer;
  }