.registerMainWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100dvh;
}

.registerFiledContainer {
	border: 3px solid var(--color-primary);
	display: flex;
	border-radius: 8px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75dvh;
	width: 45rem;
}

.registerFiledContainer .inputFieldsBtn {
    background-color: var(--color-primary);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    font-family: 'Saira Condensed', sans-serif;
    outline: 0;
    padding: 2rem;
    white-space: nowrap;
  
    &:hover {
      background-color: #d38200;
    }
  }